<div class="panel-body">
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
      <thead>
          <tr>
              <th>Site Url</th>
              <th>id</th>
              <th>Loja Nome</th>
              <th>Editar</th>
          </tr>
      </thead>
      <tbody>
      <% @crawlers = Crawler.all %>
      <% @crawlers.each do |crawler| %>
        <tr>
          <td><%=
                array = []
                array = crawler.site_url.split("/");
                array [2]
              %>
          </td>
          <td><%= crawler.loja_id %></td>
          <td><%= crawler.loja_nome %></td>
          <td><%= link_to 'Edit', edit_crawler_path(crawler) %>  <%= link_to 'Destroy', crawler, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

